<section class="contenedor">
    <form action='@Url.Action("Comenzar","Home")' method="get" class="configurar">
        <p class="mensaje">Ingrese la <strong>Dificultad</strong>(Si no quiere ninguna en particular, ingrese -1)</p>
        <div class="input_container">
        @{
            foreach(Dificultades dif in ViewBag.Dificultad)
            {
                <div>
                    <input type="radio" value="@dif.IdDificultad" class="dif_option">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQS4fSb3suK8TZRJ37I4HC43hRTIyPdO0yg8w&s" class="dif_img">
                </div>
            }
        }
        </div>
        <input type="submit" value="JUGAR">
    </form>
    <div class = "contenedor-completo">
     <div class="contenedor-wheel">
        <div class="wheel-container">
            <div class="pointer"></div>
            <div class="wheel">
                <div class="wheel-section"></div>
                <div class="wheel-section"></div>
                <div class="wheel-section"></div>
                <div class="wheel-section"></div>
            </div>
        </div>
        <button onclick="spinWheel()">Girar</button>
        <p id="result"></p>
    </div>
    </div>
</section>      