<section class="contenedor2">
    <div class="Title-container">
        <h1 class="Title">Programadores</h1>
    </div>
    <div class="excursiones_container">
        <div class="card_excursion">
            <img src="../Images/FedeFoto.jpg">
            <div class="excursion_number">
                <h3>Federico Azubel</h3>
            </div>
        </div>

        <div class="card_excursion">
            <img src="../Images/DekelFoto.jpg">
            <div class="excursion_number">
                <h3>Dekel Usach</h3>
            </div>
        </div>

        <div class="card_excursion">
            <img src="../Images/SasaFoto.jpeg">
            <div class="excursion_number">
                <h3>Santino Aguilera</h3>
            </div>
        </div>
    </div>
</section>