<!-- GAME OVER -->
<div class="Title-container">
    <h1 class="Title">¡Felicitaciones, ha terminado el preguntados con un puntaje de @Juego.PuntajeActual!</h1>
</div>
<div class="game-over-container">
    <div class="Fondo-Ranking">
        @{
            int contador = 1;
            foreach (Usuarios usu in ViewBag.Usuarios)
            {
                <div class="pais">
                    <p>@contador</p>
                    <div>
                        <p class="nombreichi">@usu.Nombre</p>
                    </div>
                    <p>Puntaje: @usu.Puntaje</p>
                </div>
                contador++;
            } 
        }
    </div>
</div>
