@{
    ViewData["Title"] = "Menu Principal";
}

<section class="contenedor" class="contenedor_index">
    <section class="caja">
        <div class="playButton_container">
            <a href='@Url.Action("ConfigurarJuego", "Home")' class="playButton">JUGAR</a>
        </div>
    </section>
</section>
    <script src="https://cdn.jsdelivr.net/npm/animejs@3.2.1/lib/anime.min.js"></script>
