
<!-- asbdsia bdsiabds -->
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 class= "titulo_rueda">Gire la rueda para conseguir una categoria</h1>

    <div class="ruleta">
        <div class="vara"></div>
            <img src="../Images/ruleta.png" class="img-ruleta" id="ruleta">
    </div>

<script>
    //wheel
    const ruleta = document.querySelector("#ruleta");
    ruleta.addEventListener("click", girar);
    let dinero = 50;
    let categoriaLO;
    function girar() {
        let rand = Math.random() * 7200;
        calcular(rand);
    }

    function calcular(rand) {
        let valor = rand / 360;
        valor = (valor - parseInt(valor.toString().split(".")[0])) * 360;
        ruleta.style.transform = "rotate(" + rand + "deg)";

        setTimeout(() => {
            switch (true) {
                case valor > 0 && valor <= 45:
                    categoriaLO = "-1";
                    alert("Te ha tocado todo");
                    break;
                case valor > 45 && valor <= 90:
                    categoriaLO = "7";
                    alert("Computacion");
                    break;
                case valor > 90 && valor <= 135:
                    categoriaLO = "6";
                    alert("Historia");
                    break;
                case valor > 135 && valor <= 180:
                    categoriaLO = "5";
                    alert("Geografia");
                    break;
                case valor > 180 && valor <= 225:
                    categoriaLO = "4";
                    alert("Entretenimiento");
                    break;
                case valor > 225 && valor <= 270:
                    categoriaLO = "3";
                    alert("Deporte");
                    break;
                case valor > 270 && valor <= 315:
                    categoriaLO = "2";
                    alert("Ciencia");
                    break;
                case valor > 315 && valor <= 360:
                    categoriaLO = "1";
                    alert("Artes");
                    break;
            }

            window.location.replace("/Home/Rueda?categoria="+categoriaLO );
             // Comenzar(string username, int dificultad, int categoria)
/*
            console.log(categoriaLO)
            $.ajax(
                {
                    type:"POST",
                    dataType : "JSON",
                    url: '/Home/GuardarCategoria',
                    data:{ categoria:categoriaLO},
                    success:
                        function (response)
                        {
                            console.log(response);
                        }
                }
            );*/
            // Enviar el valor de la categoría al controlador
            /*fetch('/Home/GuardarCategoria', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ categoria: categoriaLO }) // Usa categoriaLO aquí
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    // Redirigir a la vista Jugar una vez que se ha guardado la categoría
                    window.location.href = '/Home/Jugar';
                }
            })
            .catch((error) => {
                console.error('Error al enviar la categoría:', error);
            });*/

        }, 6000);
    }

</script>
