html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
 


html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
/*Boton Cambiar tema*/
#boton-cambiar-tema-light{
  margin: 0;
  border: 0;
  padding: 0;
  width: 3%;
  height: 5%;
  border-radius: 10px;
  margin-right: 20px;
  margin-top: 15px;
  
}
#boton-cambiar-tema:hover{
 border: solid 1px black; 
}
#boton-cambiar-tema-light img{
  padding: 0;
  margin: 0;
  border: 0;
  width: 100%;
}
#boton-cambiar-tema-light:hover{
  background-color: #28242c ;
  border: solid 1px black;
}
#boton-cambiar-tema-dark{
  margin: 0;
  border: 0;
  padding: 0;
  width: 3%;
  height: 5%;
  border-radius: 10px;
  margin-right: 20px;
  margin-top: 15px;
}
#boton-cambiar-tema-dark:hover{
  background-color: white;
  border: solid 1px white;
}
#boton-cambiar-tema-dark img{
  padding: 0;
  margin: 0;
  border: 0;
  width: 100%;
}
.pb-3{
  display: flex;
  justify-content: end;
}
@media (min-width: 1200px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
  max-width: 100%;
  padding: 0;
  }
  }html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}


@media (min-width: 1200px)
{
  .container, .container-lg, .container-md, .container-sm, .container-xl
  {
    max-width: 100%;
    padding: 0;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* INDEX */

.mainMenu
{
  position: absolute;
  height: 100vh;
  width: 100vw;
}

.botonMainMenu /* SET FOR REMOVAL */
{
  position: absolute;

  height: 10vh;
  width: 30.51vw;
  top: 73.9vh;
  left: 34.7vw;
}

/*ConfigurarJuego*/

.contenedor {
  width: 100%;
  display: flex;
  justify-content: center;
}

.configurar {
  width: 800px;
  border: 1px solid #000;
}

.option {
  width: 500px;
  height: 500px;
  overflow: hidden;
}

.option input{
  width: 500px;
  height: 500px;
  position: absolute;
  z-index: 1;
}

.option input:hover{
  cursor:pointer;
}